<html>

<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'auction/pending_verification.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Bid Confirmed</title>
</head>

<body>
  <br>
  <br>
  <br>
  <br>
  <div class="main">
    <p class="sign" align="center">Your bid has been placed.</p>
      <br>
      <p class="information_text" align="center">A confirmation email will be sent to you shortly.</p>
      <br>
      <br>
      <div class="link_container">
        <a class="listing_link" align="center" href="{%url 'auction:listings'%}">View Listings</a>
      </div>
  </div>
     
</body>

</html>