<html>

<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'auction/create_account_style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Create Account</title>
</head>

<body>
	<br>
	<br>
	<br>
	<br>
  <div class="main">
    <p class="sign" align="center">My Account</p>
    <form class="form1" id="login_form" action="{%url 'auction:user_account_submit'%}" method="post">
      {% csrf_token %}
      <input class="input_field" type="text" align="center" placeholder="First Name" name="first_name">
      <input class="input_field" type="text" align="center" placeholder="Username" name="username">
      <input class="input_field" type="password" align="center" placeholder="Password" name="password">
      <input class="submit" align="center" type="submit">
    </form>
   	<br>


    </div>

</body>

</html>