<html>

<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'auction/create_account_style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Create Account</title>
</head>

<body>
	<br>
	<br>
	<br>
	<br>
  <div class="main">
    <p class="sign" align="center">My Account</p>

   	<p class="sign" align="left">My Listings</p>

    <p class="sign" align="left">My Bids</p>

  </div>

</body>

</html>